*, *::after, *::before {
    box-sizing: border-box;
}

html, body, img {
    width: 100%;
    height: 100%;
    margin: 0%;
    overflow: hidden;
    position: fixed;
}

.element {
    width: 50px;
    height: 50px;
}

.photon {
    width: 150px;
    height: 150px;
}

.electron {
    width: 40px;
    height: 40px;
}
